body {
  height: 100vh;
  background-color: #f0f0f0;
}

.card {
  height: 100px;
  aspect-ratio: 1/1;
  background-color: transparent;
  border-radius: 10px;
  border: none;

  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 300ms ease-in-out;
  }

  &__face {
    position: absolute;
    inset: 0;
    background-color: blue;
    backface-visibility: hidden;

    &--back {
      background-color: green;
      transform: rotateY(180deg);
    }
  }
  &.is-flipped .card__inner {
     transform: rotateY(180deg);

  }
}
